/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; background-color: #24292E; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: calc(100vh - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: start;
  justify-content: start;
}

.screen_padding {
  padding: 20px;
}
.container {
  width: 62.5rem;
}

.sidebar {
  padding: 25px;
  background-color: linen;
}

.main-content {
  padding: 25px;
  background-color: linen;
}

.title {
  text-align: center;
  color: tomato;
}

.list-container {
  min-height: 800px;
}

.cards-holder {
  margin-bottom: 1.5625rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.cards-holder:active {
  transform: scale(0.95);
}

.card:hover {
  box-shadow: 0 0 0 5px #eeeeee;
}

.complete {
  text-decoration: line-through;
}

.list-menu {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-items {
  padding: 0;
  margin-bottom: 15px;
  border-radius: 5px 5px;
  color: #24292E;
}

.list-items:hover {
  background-color: lightgray;
}
